server {
  listen 80 default_server;

  server_name _;

  root /home/user/public;

  index index.php;

  location ~ \.php$ {
    fastcgi_pass server:9000;
    include fastcgi_params;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param PATH_INFO $fastcgi_path_info;
  }

  location / {
    try_files $uri $uri/ /index.php;
  }
}
